<!DOCTYPE html>
<html>
<head>
    <title>Movie Reviews</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
</head>
<body>
    <div class="container mt-4">
        <form action="" method="get">
            <div class="mb-3">
                <label for="searchMovie" class="form-label">Search for Movie:</label>
                <input type="text" class="form-control" name="searchMovie" />
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>

        <br>
        <p>Searching for {{ searchTerm }}</p>

        {% for movie in movies %}
            <div class="card mb-3">
                <div class="card-body">
                    <h2 class="card-title">{{ movie.title }}</h2>
                    <h3 class="card-subtitle mb-2 text-muted">{{ movie.description }}</h3>
                    <img src="{{ movie.image.url }}" class="img-fluid" alt="Image for {{ movie.title }}">
                    {% if movie.url %}
                        <p><a href="{{ movie.url }}" target="_blank">Movie Link</a></p>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</body>
</html>
